body {
    overflow: hidden;
    background: linear-gradient(to right, pink, white);
}

.container {
    display: flex;
/*    position: fixed;
    left: 50%;
    top: 40%;
    height: 100%;
    width: 100%;*/
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
/*    text-align: center;*/
    width: 90%;
    max-width: 440px;
      font-family: 'Dancing Script', cursive; 
}

@media (max-width: 600px) {
    .card {
        padding: 15px;
    }
}

@media (min-width: 601px) {
    .card {
        padding: 20px;
    }
}

.confetti{
    max-width: auto;
    display: block;
    margin: 0;
    border: 0;
    user-select: none;
 }